export DB_HOST=""
export DB_PORT=""
export DB_USER=""
export DB_PASSWORD=""
export DB_NAME=""

# SERVER_PORT を上書したいときのみ設定する
# default: 3081
# export SERVER_PORT=""

# ./initdb.d/* を流すときのみ必要
export PGPASSWORD=""
